{% extends 'MirageMainBundle::layout.html.twig' %}

{% block stylesheets %}	
    {{ parent()}}

{% endblock %}

{% block contents %}
   <h1>프린트스토어</h1> <br>
<br>
    가입이 완료되었습니다.
    

 
{% endblock %}
