{% extends 'MirageAdminBundle::layout.html.twig' %}

{% block contents %}
<div id="content">

    윙딩윙딩....개발툴 시작화면이당<br>
    귀찮당<br>
    누군가 만들지 않을깡<br>
    아닐거당<br>
    윙무룩....<br>




</div>
{% endblock contents %}
