<div id="sidebar">
    <b>Apocripha Scrabs</b><br><br>

    <a href="{{ url('ark_index') }}">
        <div class="sbox">아크 에디터</div>
    </a><br>
    <a href="{{ url('encounter_index') }}">
        <div class="sbox">조우 에디터</div>
    </a><br>
    <a href="{{ url('cache_index') }}">
        <div class="sbox">맴캐쉬맴맴</div>
    </a><br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

</div>